<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">local-eye</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<md-sidenav class="md-sidenav-left" md-component-id="left"
            md-disable-backdrop md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
  </md-toolbar>

  <md-content layout-margin>
    <p>
      This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
    </p>
    <md-button ng-click="nav.toggleLeft()" class="md-accent">
      Close this Sidenav
    </md-button>
  </md-content>

</md-sidenav>

<md-content flex layout-padding>

  <md-toolbar>
    <div class="md-toolbar-tools">
        <img src="/assets/images/logo.png" width="200" >

      <span flex></span>
      <md-button class="md-raised" aria-label="Learn More">
        Learn More
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Favorite">
        <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
      </md-button>
    </div>
  </md-toolbar>
  <div layout="column" layout-align="top center">
    <p>
      Developers can also disable the backdrop of the sidenav.<br/>
      This will disable the functionality to click outside to close the sidenav.
    </p>

    <div>
      <md-button ng-click="nav.toggleLeft()" class="md-raised">
        Toggle Sidenav
      </md-button>
    </div>

  </div>

</md-content>