<div id="main-view" class="flex-container">
    <div>
        <div>
            <md-input-container>
                <label>Departure</label>
                <input ng-model="vm.departure" type="text">
            </md-input-container>
            <md-input-container>
                <label>Destination</label>
                <input ng-model="vm.destination" type="text">
            </md-input-container>

            <md-button style="margin-bottom: 35px;" ng-click="vm.setupRoute()" class="md-raised md-primary">Go</md-button>
        </div>
        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" events="vm.map.events">
            <ui-gmap-marker idKey="'center_marker'" coords="vm.centerMarker"
                            icon= '{url:    "/assets/images/truck-front-small.png" }' ng-cloak>
              <ui-gmap-polyline ng-repeat="p in vm.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polyline>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
    <div>
        <img ng-if="vm.advertisement.url" ng-src="{{ vm.advertisement.url }}" alt="" style="width: 100%">
    </div>
</div>

