<div google-chart chart="vm.myChartObject" agc-on-select="vm.hideSeries(selectedItem)" style="height:450px; width:100%;"></div>




<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">List of advertising</span>

                <span class="md-subhead">
                     <md-list flex>
                        <md-list-item class="md-2-line" ng-repeat="(key, value) in vm.adv" ng-click="vm.setArea('{{value._id}}')">
                          <div class="md-list-item-text" layout="column">
                              <h2 style="margin:0">{{value.name}}</h2>
                              <p style="margin:0">{{value.desc}}</p>
                          </div>
                        </md-list-item>

                         <md-list-item class="md-2-line" ng-click="vm.setArea(clearMap())">
                          <div class="md-list-item-text" layout="column">
                              <h2 style="margin:0">ALL</h2>
                              <p style="margin:0">Select all areas</p>
                          </div>
                        </md-list-item>
                     </md-list>
                </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Map</span>
                    <span class="md-subhead">
                        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" events="vm.map.events" style="width: 100%;height:100%;">
                            <ui-gmap-marker idKey="'center_marker'" coords="vm.centerMarker" ng-cloak>

                                <ui-gmap-rectangle bounds="value.bounds"
                                                   fill="value.fill"
                                                   ng-repeat="value in vm.rectangles"
                                ></ui-gmap-rectangle>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </span>
                </md-card-title-text>

            </md-card-title>
        </md-card>
    </div>
</md-content>