
<!--<ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" events="vm.map.events">-->
    <!--&lt;!&ndash;<ui-gmap-map-control template="draw.tpl.html" position="top-right" index="1" controller="mapWidgetCtrl"></ui-gmap-map-control>&ndash;&gt;-->
    <!--&lt;!&ndash;<ui-gmap-map-control template="clear.tpl.html" position="top-right" index="1" controller="mapWidgetCtrl"></ui-gmap-map-control>&ndash;&gt;-->

    <!--<ui-gmap-free-draw-polygons polygons="vm.map.polys" draw="vm.map.draw" ></ui-gmap-free-draw-polygons>-->
<!--</ui-gmap-google-map>-->

<!--<script type="angular/template" id="draw.tpl.html">-->
    <!--<button class="btn btn-lg btn-primary"  ng-click="vm.controlClick()">{{drawWidget.controlText}}</button>-->
<!--</script>-->
<!--<script type="angular/template" id="clear.tpl.html">-->
    <!--<button class="btn btn-lg btn-primary"  ng-click="clearWidget.controlClick()">{{clearWidget.controlText}}</button>-->
<!--</script>-->

<div layout="row" class="zero" id="add-view">

    <div flex="70" class="one">
        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" options="vm.options" bounds="vm.map.bounds">
            <ui-gmap-drawing-manager options="vm.drawingManagerOptions" control="vm.drawingManagerControl" events="vm.events"></ui-gmap-drawing-manager>
        </ui-gmap-google-map>
    </div>
    <div flex="30" class="two">
        <form novalidate ng-submit="vm.createAdvertisement()">
            <md-input-container class="md-block">
                <label>Name</label>
                <input ng-model="vm.newAdvertisement.name" type="text">
            </md-input-container>

            <!--<md-input-container class="md-block">-->
                <!--<label>southwest_latitude</label>-->
                <!--<input ng-model="vm.newAdvertisement.southwest_latitude" type="text">-->
            <!--</md-input-container>-->

            <!--<md-input-container class="md-block">-->
                <!--<label>southwest_longitude</label>-->
                <!--<input ng-model="vm.newAdvertisement.southwest_longitude" type="text">-->
            <!--</md-input-container>-->

            <!--<md-input-container class="md-block">-->
                <!--<label>northeast_latitude</label>-->
                <!--<input ng-model="vm.newAdvertisement.northeast_latitude" type="text">-->
            <!--</md-input-container>-->

            <!--<md-input-container class="md-block">-->
                <!--<label>northeast_longitude</label>-->
                <!--<input ng-model="vm.newAdvertisement.northeast_longitude" type="text">-->
            <!--</md-input-container>-->

            <md-input-container class="md-block">
                <label>Picture URL</label>
                <input ng-model="vm.newAdvertisement.url" type="text">
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">Create</md-button>

            <p ng-if="vm.isCreated">Created!</p>
        </form>
    </div>

</div>